<header>
  <h1>Welcome to ng_Snake!</h1>
  <h2>
    <div><br /></div>
    <div><br /></div>
    <br />
  </h2>
</header>
<div>
  <h3>Please enter your credentials.</h3>
  <div>
    <input
      pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$"
      required
      minlength="5"
      maxlength="15"
      [(ngModel)]="playerName"
      placeholder="Name"
      #name="ngModel"
      ng-disabled="disable"
    />
    <div *ngIf="name.invalid && name.touched" class="alert">
      <div *ngIf="name.errors?.['required']">Name is required.</div>
      <div *ngIf="name.errors?.['minlength']">
        Name must be at least 5 characters long.
      </div>
      <div *ngIf="name.errors?.['pattern']">Name has illegal characters.</div>
    </div>
  </div>
  <div>
    <input
      required
      minlength="4"
      [(ngModel)]="playerToken"
      placeholder="Token"
      #token="ngModel"
    />
    <div *ngIf="token.invalid && token.touched" class="alert">
      <div *ngIf="token.errors?.['required']">Token is required.</div>
      <div *ngIf="token.errors?.['minlength']">
        Token must be at least 4 characters long.
      </div>
    </div>

    <br />
    <div>
      <button
        class="DefaultTheme"
        (click)="submit()"
        (window:keydown.Enter)="name.valid && token.valid && submit()"
        [disabled]="!name.valid || !token.valid"
      >
        PLAY
      </button>
    </div>
    <div>
      <button
        [ngClass]="color === 'normal' ? 'DarkTheme' : 'LightTheme'"
        (click)="switchColors()"
      >
        colors: {{ color }}
      </button>
    </div>
  </div>
</div>
