<header>
  <h1>Welcome to ng_Snake!</h1>
  <h2>
    <div><br /></div>
    <div><br /></div>
    <br />
  </h2>
</header>
<div>
  <h3>Please enter your credentials.</h3>
  <form [formGroup]="loginForm" (submit)="submit()">
    <div>
      <input type="text" formControlName="name" placeholder="Name" />
      <!-- <div *ngIf="name.invalid && name.touched" class="alert">
        <div *ngIf="name.errors?.['required']">Name is required.</div>
        <div *ngIf="name.errors?.['minlength']">
          Name must be at least 5 characters long.
        </div>
        <div *ngIf="name.errors?.['pattern']">Name has illegal characters.</div>
      </div> -->
    </div>
    <div>
      <input type="text" formControlName="token" placeholder="Token" />
      <!-- <div *ngIf="token.invalid && token.touched" class="alert">
        <div *ngIf="token.errors?.['required']">Token is required.</div>
        <div *ngIf="token.errors?.['minlength']">
          Token must be at least 4 characters long.
        </div>
      </div> -->
    </div>
  </form>
  <br />
  <div>
    <button
      class="DefaultTheme"
      (click)="submit()"
      (window:keydown.Enter)="!loginForm.valid && submit()"
      [disabled]="!loginForm.valid"
    >
      PLAY
    </button>
  </div>

  <div>
    <button
      [ngClass]="color === 'normal' ? 'DarkTheme' : 'LightTheme'"
      (click)="switchColors()"
    >
      colors: {{ color }}
    </button>
  </div>
</div>
