<header>
  <h1>Good luck {{ playerName }}!</h1>
  <h2>
    <div *ngIf="isRunning">Playing...</div>
    <div *ngIf="!isRunning">Game Paused</div>
    Playtime: {{ time | number: "1.2-2" }} <br />Score: {{ score }}
  </h2>
</header>

<div class="container">
  <div class="gamehere">
    <ngx-snake
      #game
      (foodEaten)="onGrow()"
      (gameOver)="onGameOver()"
    ></ngx-snake>
  </div>
  <div class="controlshere">
    <button class="myButtonSq" (click)="startB()">Start</button>

    <button
      class="myButtonSq"
      (window:keydown.Shift)="stopB()"
      (click)="stopB()"
    >
      Stop
    </button>

    <button class="myButtonSq" (click)="resetB()">Reset</button>

    <td></td>
    <button class="myButton" (click)="upB()" (window:keydown.arrowup)="upB()">
      &#8657;
    </button>
    <td></td>
    <button
      class="myButton"
      (click)="leftB()"
      (window:keydown.arrowleft)="leftB()"
    >
      &#8656;
    </button>

    <td (click)="score = score + 1">:)</td>

    <button
      class="myButton"
      (click)="rightB()"
      (window:keydown.arrowright)="rightB()"
    >
      &#8658;
    </button>
    <td></td>
    <button
      class="myButton"
      (click)="downB()"
      (window:keydown.arrowdown)="downB()"
    >
      &#8659;
    </button>
    <td></td>
  </div>
  <div class="logshere">
    <button *ngIf="showHistory" class="LightTheme" (click)="toggleHistory()">
      Hide game logs
    </button>
    <button *ngIf="!showHistory" class="DarkTheme" (click)="toggleHistory()">
      Show game logs
    </button>
    <br />
    <select *ngIf="showHistory" [(ngModel)]="currentEvent" placeholder="All">
      <option value="All">All</option>
      <option
        *ngFor="let item of history | uniqueEvents: history.length"
        [value]="item"
      >
        {{ item }}
      </option>
    </select>
    <ul *ngIf="showHistory">
      <li
        *ngFor="
          let log of history | logpipe: currentEvent:history.length;
          let i = index
        "
      >
        {{ log.timestamp | number: "1.2-2" }}
        {{ log.event }}
      </li>
    </ul>
  </div>
  <div class="buttonshere">
    <button class="DarkTheme" (click)="openModal()">Show scoreboard</button>

    <button class="DarkTheme" (click)="goBack()">Back do login</button>
  </div>
</div>
