.DarkTheme {
  text-align: center;
  background-color: #191919;
  color: aliceblue;
  padding: 5px;
  margin: 2px;
  width: 15vw;
}

.DarkTheme__Small {
  width: 10vw;
}

.LightTheme {
  text-align: center;
  background-color: white;
  color: black;
  padding: 5px;
  margin: 2px;
  width: 15vw;
}

.LightTheme__Small {
  width: 10vw;
}
