<header>
  <h1>Welcome, {{ playerName }}.</h1>
  <h1>Your score: {{ score }}</h1>
</header>

<ngx-snake #game (foodEaten)="onGrow()" (gameOver)="onGameOver()"></ngx-snake>

<table class="controls">
  <tr>
    <td><button (click)="game.actionStart()">Start</button></td>
    <td><button (click)="game.actionStop()">Stop</button></td>
    <td><button (click)="game.actionReset()">Reset</button></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td><button (click)="game.actionUp()">Up</button></td>
  </tr>
  <tr>
    <td><button (click)="game.actionLeft()">Left</button></td>
    <td></td>
    <td><button (click)="game.actionRight()">Right</button></td>
  </tr>
  <tr>
    <td></td>
    <td><button (click)="game.actionDown()">Down</button></td>
  </tr>
  <tr style="height: 20px">
    <td></td>
  </tr>
  <tr>
    <td colspan="3">
      <button *ngIf="!darkMode" class="DarkTheme" (click)="darkMode = true">
        Dark Mode
      </button>
      <button *ngIf="darkMode" class="LightTheme" (click)="darkMode = false">
        Light Mode
      </button>
    </td>
  </tr>
</table>
<footer>
  <button (click)="goBack()">Go back to login page...</button>
</footer>
