<div class="modal-header">
  <h4 class="modal-title">Scoreboard</h4>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<button type="button" (click)="showBestScores = !showBestScores">
  {{ showBestScores ? "Show Lowest Scores" : "Show Highest Scores" }}
</button>
<button type="button" (click)="showMyScores = !showMyScores">
  {{ showMyScores ? "Show All Scores" : "Show My Scores" }}
</button>
<div class="modal-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let player of dataSortedDesc
            | sortResults: showBestScores
            | myResults: showMyScores
            | slice: 0:10
        "
      >
        <td>{{ player.name }}</td>
        <td>{{ player.score }}</td>
      </tr>
    </tbody>
    <!-- <tbody *ngIf="!showBestScores">
      <tr *ngFor="let player of dataSortedAsc | slice: 0:10">
        <td>{{ player.name }}</td>
        <td>{{ player.score }}</td>
      </tr>
    </tbody> -->
  </table>
  <!-- <div>
    <ul *ngFor="let player of data | slice: 4">
      <li>{{ player.name }} : {{ player.score }}</li>
    </ul>
  </div> -->
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
