/* You can add global styles to this file, and also import other style files */

html,
body {
  position: relative;
  background: rgb(255, 255, 255);
  display: inline-block;
  flex-direction: column;
}
header {
  display: block;
  min-height: 100px;
  min-width: 100%;
  background-color: rgb(25, 25, 25);
  color: rgb(240, 255, 255);
}
ngx-snake {
  &.contrast {
    ngx-snake-tile {
      background: rgb(255, 255, 255);
      &.free {
        div {
          background: rgb(255, 255, 255);
        }
      }

      &.head,
      &.tail,
      &.food,
      &.body {
        div {
          background: rgb(0, 0, 0);
        }
      }
    }
  }
  &.normal {
    ngx-snake-tile {
      background: rgb(155, 255, 105);
      &.free {
        div {
          background: rgb(155, 255, 105);
        }
      }
      &.head {
        div {
          background: rgb(95, 95, 95);
        }
      }
      &.tail {
        div {
          background: rgb(125, 125, 125);
        }
      }
      &.food {
        div {
          background: rgb(155, 105, 255);
        }
      }
      &.body {
        div {
          background: rgb(125, 125, 125);
        }
      }
    }
  }
}
.container {
  display: grid;
  grid-template-columns: 3.1fr 2.22fr 2.5fr;
  grid-template-rows: 1fr 0.15fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas:
    "gamehere controlshere logshere"
    "buttonshere buttonshere buttonshere";
}

.gamehere {
  display: inline-block;
  width: 310px;
  height: 301px;
  //background-color: black;
  grid-area: gamehere;
}

.logshere {
  display: block;
  width: 250px;
  height: 301px;
  color: bisque;
  text-align: left;
  overflow: auto;
  background-color: transparent;
  background-image: url("./assets/woman2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  grid-area: logshere;
}

.controlshere {
  display: grid;
  grid-template-columns: 74px 74px 74px;
  grid-template-rows: 79px 74px 74px 74px;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". . .";
  grid-area: controlshere;
  background-color: transparent;
  background-image: url("./assets/cat2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.buttonshere {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    ". . ."
    ". . .";
  grid-area: buttonshere;
}

.myButton {
  color: rgb(255, 255, 255);
  font-size: 20px;
  min-width: 50px;
  min-height: 50px;
  padding: 8px;
  border-radius: 50px;
  font-family: Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: none;
  background-image: radial-gradient(
    at center center,
    rgb(155, 255, 105) 0%,
    rgb(105, 240, 25) 27%,
    rgb(155, 255, 105) 100%
  );
  box-shadow: rgb(0, 0, 0) 1px 1px 3px 1px;
  border: 2px solid rgb(155, 255, 105); //firstColour
  display: inline-block;
  &.contrast {
    background-image: radial-gradient(
      at center center,
      rgb(0, 0, 0) 0%,
      rgb(105, 240, 25) 27%,
      rgb(0, 0, 0) 100%
    );
    box-shadow: rgb(0, 0, 0) 1px 1px 3px 1px;
    border: 2px solid rgb(0, 0, 0); //firstColour
  }
}
.myButton:hover {
  background: rgb(155, 255, 105); //firstColour
}
.myButton:active {
  background: rgb(155, 255, 105); //thirdColour
}
.myButtonSq {
  color: rgb(255, 255, 255);
  font-size: 18px;
  min-width: 70px;
  max-width: 70px;
  min-height: 50px;
  max-height: 50px;
  padding: 2px;
  border-radius: 0px;
  font-family: Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: none;
  background-image: radial-gradient(
    at center center,
    rgb(155, 255, 105) 0%,
    rgb(105, 240, 25) 27%,
    rgb(155, 255, 105) 100%
  );
  box-shadow: rgb(0, 0, 0) 1px 1px 3px 1px;
  border: 2px solid rgb(155, 255, 105); //firstColour
  display: inline-block;
}
.myButtonSq:hover {
  background: rgb(155, 255, 105); //firstColour
}
.myButtonSq:active {
  background: rgb(155, 255, 105); //thirdColour
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
